<gm-data-loading-wrapper
  class="flex flex-col"
  [loadingState]="fetchIsLoading() || deleteIsLoading() || copyIsLoading()"
  [error]="fetchError() || deleteError() || copyError()">
  <div class="flex pb-6 items-center">
    <h2 class="text-lg" [ngClass]="{'mr-4': isCollectionOwnerActive()}"><b>Collection:</b> {{selectedGroup()?.name}}</h2>
    @if (isCollectionOwnerActive()) {
      @if (selectedGroup().isShared) {
        <mat-icon class="text-active mr-2" matTooltip="Collection visible for other users">share</mat-icon>
      }
      <button matMiniFab (click)="openEditWordGroupDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    }
  </div>

  <gm-words-table
    [isOwner]="isCollectionOwnerActive()"
    [allowSwitchGroup]="false"
    [dataSource]="wordsTable()"
    [columns]="wordsTableColumns()"
    [groups]="wordGroupOptions()"
    (addWord)="openEditDialog()"
    (editWord)="openEditDialog($event)"
    (deleteWords)="deleteWords($event)"
    (copyWords)="copyWords($event)"
    (previewWords)="previewWords($event)"
  ></gm-words-table>
</gm-data-loading-wrapper>
