<gm-data-loading-wrapper
  [loadingState]="updateIsLoading()"
  [error]="updateError()">
  <h2 mat-dialog-title> {{ data != null ? 'Edit' : 'Add' }} word</h2>

  <mat-dialog-content>
    <form class="flex flex-col">
      <gm-input
        [field]="wordGroupForm[wordGroupParameterEnum.NAME]"
        [fieldLabel]="wordGroupParameterDisplayNameEnum.NAME"
        [fieldPlaceholder]="wordGroupParameterDisplayNameEnum.NAME"
        [fieldErrors]="
          wordGroupForm[wordGroupParameterEnum.NAME]().dirty()
          ? getFormFieldErrors(wordGroupForm[wordGroupParameterEnum.NAME]().errors() || [])
          : []
        "
      ></gm-input>

      <mat-slide-toggle [field]="wordGroupForm[wordGroupParameterEnum.IS_SHARED]">
        {{wordGroupParameterDisplayNameEnum.IS_SHARED}}
      </mat-slide-toggle>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="gap-4">
    <gm-button (btnClick)="close()">Cancel</gm-button>
    <gm-button (btnClick)="apply()" [isPrimary]="true" [isDisabled]="!isWordGroupFormValid()">Submit</gm-button>
  </mat-dialog-actions>
</gm-data-loading-wrapper>
