<table mat-table [dataSource]="dataSource()">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [disabled]="!allowEdit()"
      ></mat-checkbox>
    </th>

    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? toggleRow(row) : null"
        [checked]="selection.isSelected(row)"
        [disabled]="!allowEdit()"
      ></mat-checkbox>
    </td>
  </ng-container>

  @for (column of columns(); track $index) {
    <ng-container matColumnDef="{{column.name}}">
      <th mat-header-cell *matHeaderCellDef>{{column.displayName}}</th>
      <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="columnsNames; sticky: true"></tr>
  <tr
    mat-row *matRowDef="let row; columns: columnsNames;"
    (click)="allowEdit() ? toggleRow(row) : null"
  ></tr>
</table>
