<mat-form-field>
  <mat-label>{{ fieldLabel() }}</mat-label>
  <mat-select [formField]="field()" (selectionChange)="valueChange.emit($event.value)">
    <mat-option [value]="defaultOptionValue">All</mat-option>
    @for (option of options(); track option.id) {
      <mat-option [value]="option.id">{{option.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>

@if (showErrors()) {
  <div class="field-errors">
    @for (error of errors(); track $index) {
      <mat-error>{{ error.message }}</mat-error>
    }
  </div>
}
