<mat-form-field
  class="w-full"
  [ngClass]="{'mat-mdc-form-field_disabled': inputControl.disabled}">
  <mat-label>{{fieldLabel()}}</mat-label>
  <input [formControl]="inputControl"
         type="text"
         [placeholder]="fieldPlaceholder() || 'Enter ' + (fieldLabel() | lowercase)"
         matInput
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
    @for (option of filteredOptions(); track $index) {
      <mat-option [value]="option.name">
        @if (option.isCustom) {
          <small>Add</small>&nbsp;
        }
        {{option.name}}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>

@if (fieldErrors() != null && fieldErrors().length > 0) {
  <div class="field-errors">
    @for (error of fieldErrors(); track $index) {
      <mat-error>{{error}}</mat-error>
    }
  </div>
}
