<h1 class="text-2xl text-center pb-8">{{isSignupFormActive() ? 'Signup' : 'Login'}}</h1>
<form [formRoot]="authForm">
  <gm-input
    fieldLabel="Email"
    [field]="authForm.email"
    fieldType="email"
  ></gm-input>

  <gm-input
    fieldLabel="Password"
    [field]="authForm.password"
    fieldType="password"
  ></gm-input>

  @if (isSignupFormActive()) {
    <gm-input
      fieldLabel="Repeat Password"
      fieldPlaceholder="Repeat Password"
      [field]="authForm.repeatPassword"
      fieldType="password"
    ></gm-input>
  }

  <div class="flex justify-center gap-4 pt-4">
    <a matButton (click)="toggleView.emit(!isSignupFormActive())">{{isSignupFormActive() ? 'Login' : 'Signup'}}</a>
    <gm-button [isDisabled]="!isAuthFormSubmittable()" [isSubmit]="true">Submit</gm-button>
  </div>
</form>
