<gm-data-loading-wrapper
  [loadingState]="wordsUpdateIsLoading()"
  [snackBarData]="snackBarData()">
  <h2 mat-dialog-title> {{ data.word != null ? 'Edit' : 'Add' }} word</h2>

  <mat-dialog-content>
    <form class="flex flex-col">
      <gm-input
        [field]="wordForm[wordParameterEnum.WORD]"
        [fieldLabel]="wordParameterDisplayNameEnum.WORD"
        [fieldPlaceholder]="wordParameterDisplayNameEnum.WORD"
      ></gm-input>

      <gm-input
        [field]="wordForm[wordParameterEnum.TRANSLATION]"
        [fieldLabel]="wordParameterDisplayNameEnum.TRANSLATION"
        [fieldPlaceholder]="wordParameterDisplayNameEnum.TRANSLATION"
      ></gm-input>

      <gm-textarea
        [field]="wordForm[wordParameterEnum.DESCRIPTION]"
        [fieldLabel]="wordParameterDisplayNameEnum.DESCRIPTION"
        [fieldPlaceholder]="wordParameterDisplayNameEnum.DESCRIPTION"
      ></gm-textarea>

      <gm-autocomplete
        [field]="wordForm[wordParameterEnum.GROUP_ID]"
        [fieldLabel]="wordParameterDisplayNameEnum.WORD_GROUP"
        [fieldPlaceholder]="wordParameterDisplayNameEnum.WORD_GROUP"
        [options]="data.wordGroups"
        [allowCustomValue]="true"
      ></gm-autocomplete>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="gap-4">
    <gm-button (btnClick)="close()">Cancel</gm-button>
    <gm-button (btnClick)="apply()" [isPrimary]="true" [isDisabled]="!isWordFormValid()">Submit</gm-button>
  </mat-dialog-actions>
</gm-data-loading-wrapper>
