<gm-data-loading-wrapper
  [loadingState]="wordsUpdateIsLoading()"
  [error]="wordsUpdateErr()">
  <h2 mat-dialog-title> {{ data.word != null ? 'Edit' : 'Add' }} word</h2>

  <mat-dialog-content>
    <form class="flex flex-col">
      <gm-input
        [formField]="wordForm[wordParameterEnum.WORD]"
        [fieldLabel]="wordParameterDisplayNameEnum.WORD"
        [fieldPlaceholder]="wordParameterDisplayNameEnum.WORD"
        [fieldErrors]="wordForm[wordParameterEnum.WORD]().dirty() ? getFormFieldErrors(wordForm[wordParameterEnum.WORD]().errors() || []) : []"
      ></gm-input>

      <gm-input
        [formField]="wordForm[wordParameterEnum.TRANSLATION]"
        [fieldLabel]="wordParameterDisplayNameEnum.TRANSLATION"
        [fieldPlaceholder]="wordParameterDisplayNameEnum.TRANSLATION"
        [fieldErrors]="wordForm[wordParameterEnum.TRANSLATION]().dirty() ? getFormFieldErrors(wordForm[wordParameterEnum.TRANSLATION]().errors() || []) : []"
      ></gm-input>

      <gm-autocomplete
        [formField]="wordForm[wordParameterEnum.GROUP_ID]"
        [fieldLabel]="wordParameterDisplayNameEnum.WORD_GROUP"
        [fieldPlaceholder]="wordParameterDisplayNameEnum.WORD_GROUP"
        [fieldErrors]="wordForm[wordParameterEnum.GROUP_ID]().dirty() ? getFormFieldErrors(wordForm[wordParameterEnum.GROUP_ID]().errors() || []) : []"
        [options]="data.wordGroups"
        [allowCustomValue]="true"
      ></gm-autocomplete>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="gap-4">
    <gm-button (btnClick)="close()">Cancel</gm-button>
    <gm-button (btnClick)="apply()" [isPrimary]="true" [isDisabled]="!isWordFormValid()">Submit</gm-button>
  </mat-dialog-actions>
</gm-data-loading-wrapper>
